[Unit]
Description=Check and enable OverlayFS
Before=tailscale.service kiosk.service packet-run-frontend.service packet-run-backend.service hall-sensor-server.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/overlayfs-check.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 