[Unit]
Description=Tailscale VPN Service
After=network.target network-online.target overlayfs-check.service systemd-resolved.service
Requires=overlayfs-check.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tailscale-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 