# Generic minimal arm64 bookworm system with apt, a small handful of utils and
# an RPiOS style partition layout

[image]
layout=mbr/simple_dual
boot_part_size=200%
root_part_size=300%
name=deb12-arm64-min

[device]
class=pi4
user1=packet-run
ssh_user1=y

[meta]
ssh_pubkey_user1=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJthLtIpE3wqOaC0Y9pz7A5bXK7qRs95h2BVQn/W0wpm lei@MBP-van-Lei.home
sshd_pubkey_only=y